<div class="left">
  <div class="top">
    <h1>
      <b>{{ name_music }}</b>
    </h1>
    <marquee>
      <p>
        <i> {{ name_singer }} </i>
      </p>
    </marquee>
  </div>
  <!--- middle part --->
  <div class="middle">
    <button
      (click)="change_color()"
      class="btn-redo"
      [ngStyle]="{ 'background-color': color_redo }"
    >
      <i class="fa fa-retweet"></i>
    </button>
    <button (click)="prev()" id="pre">
      <i class="fa fa-step-backward" aria-hidden="true"></i>
    </button>
    <button (click)="control_music()" id="play">
      <i class="{{ play_pause }}" aria-hidden="true"></i>
    </button>
    <button (click)="next()" id="next">
      <i class="fa fa-step-forward" aria-hidden="true"></i>
    </button>
    <button
      (click)="change_color2()"
      [ngStyle]="{ 'background-color': color_random }"
    >
      <i class="fa fa-random" aria-hidden="true"></i>
    </button>
  </div>

  <!--- song duration part --->
  <div class="progress-bar">
    <span>{{ currentTime }}</span>
    <div class="duration" (click)="change_music($event)">
      <div class="progress" [style.width.%]="seek"></div>
      <div class="buffer" [style.width.%]="seek2"></div>
    </div>
    <span>{{ duration }}</span>
  </div>

  <div class="volume">
    <p id="volume_show">{{ volumes }}</p>
    <i class="{{ mute }}" (click)="control_volume()" id="volume_icon"></i>
    <div class="volume-background" (click)="volume_change($event)">
      <div class="volume_slide" [style.width.%]="volumes"></div>
    </div>
  </div>
</div>
