/* left & right part */

@import '~font-awesome/css/font-awesome.css';
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: relative;
    top: 60px;
    left: 10%;
    /* transform: translate(-50%,-50%); */
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(to right, #5D6D7E, #566573);
    box-shadow: 1px 10px 30px;
}

.right, .left {
    position: relative;
    height: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left .top {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

/* left part */

.left input[type=range] {
    width: 40%;
}

/* volume part */

.left .volume {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left .volume p {
    font-size: 15px;
}

.left .volume i {
    cursor: pointer;
    padding: 8px 12px;
    background: #FF8A65;
}

.left .volume i:hover {
    background: rgba(245, 245, 245, 0.1);
}

.volume #volume_show {
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245, 245, 245, 0.1);
}

.volume .volume-background {
    width: 140px;
    height: 6px;
    margin: 0 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.volume .volume-background .volume_slide {
    z-index: 1;
    height: 6px;
    background-color: #FF8A65;
    width: 0%;
    position: absolute;
}

.left .middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left .middle button {
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.1);
}

.left .progress-bar {
    width: 300px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 40px;
}

.left .progress-bar .duration {
    width: 200px;
    height: 6px;
    margin: 0 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.left .progress-bar .duration .progress {
    height: 6px;
    z-index: 99;
    width: 0%;
    background-color: #FF8A65;
    position: absolute;
}

.left .progress-bar .duration .buffer {
    z-index: 1;
    height: 6px;
    background-color: #ffdace;
    width: 0%;
    position: absolute;
}

.left #auto {
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 10px;
}

.left #auto i {
    margin-left: 8px;
}

#play {
    background: #FF8A65;
}

.left button:hover {
    background: #FF8A65;
}

.left i:before {
    color: #fff;
    font-size: 20px;
}

.left .show_song_no {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
}

.left .show_song_no p:nth-child(2) {
    margin: 0 5px;
}