/* right part */

.right {
    background-color: #fff;
    border-radius: 0 25px 25px 0;
}

.right .search-hero {
    height: 60px;
    max-width: 500px;
    margin: 0 auto;
}

.right .search-hero .form-control {
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid #566573;
    padding-left: 15px;
    width: 250px;
    height: 30px;
}

.right h2 {
    color: #566573;
    text-align: center;
    position: relative;
    margin: 0 20px 20px;
    margin-top: 50px;
}

.right .list {
    border: none;
    outline: none;
    background-color: #fff;
    background-position: center;
    background-size: 100% 100%;
    text-align: left;
    color: #566573;
    height: 300px;
    width: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right .list a {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    color: #5D6D7E;
    background-color: transparent;
    list-style-type: none;
    text-decoration: none;
}

.right .list a:hover {
    color: #FF8A65;
}

#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    position: absolute;
    margin-right: 10px;
}

#style-2::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #faa78e;
}

.right .list .item {
    width: 488px;
    line-height: 50px;
    cursor: pointer;
}

.right .list table .item:hover {
    background-color: #ff9b7d;
}

.right .list .item2 {
    margin: 0 15px;
}

.right .list .item2 p {
    font-size: 14px;
    text-align: justify;
}

.right .list .item2:hover {
    background-color: transparent;
}

.right .list table div span {
    margin: 0 10px 0 20px;
}

.hidden_item {
    visibility: hidden;
    display: none;
}

#id_music {
    color: #ff8a65;
    padding-right: 5px;
}

.right .list table div:hover #id_music {
    color: #5D6D7E;
}

#name_singer {
    font-size: 10px;
    margin-left: -5px;
}

.visible_item {
    visibility: hidden;
    display: none;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
    margin-bottom: 10px;
}

.control .btn {
    color: #666;
    height: 40px;
    width: 40px;
    padding: 6px;
    font-size: 18px;
    border-radius: 50%;
}

.control .btn-toggle-play {
    font-size: 24px;
    color: #FF8A65;
}

.control button {
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.1);
}

/* both range slider part */

input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #FF8A65;
    border-radius: 50%;
    cursor: pointer;
}