<div class="main">
  <div class="right">
    <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Search Music"
      />
    </div>
    <!--- song img --->

    <h2 class="title">{{ _title }}</h2>
    <div class="list" id="style-2">
      <table *ngFor="let file of files | filter: searchText">
        <div class="item" (click)="openFile(file.url, file.id)">
          <span id="id_music" class="{{ hidden_item }}"
            ><b>{{ file.id }}</b></span
          >
          <span class="{{ hidden_item }}">{{ file.name }}</span>
          <span id="name_singer" class="{{ hidden_item }}"
            >({{ file.singer }})</span
          >
        </div>
      </table>
      <div class="item2">
        <p class="{{ visible_item }}">
          {{ lyric }}
        </p>
      </div>
      <a class="{{ visible_item }}" (click)="goBack()"><b>Back home</b></a>
    </div>
    <!-- Control -->
    <div class="control">
      <button
        class="btn btn-repeat"
        (click)="change_color()"
        [ngStyle]="{ 'background-color': color_redo }"
      >
        <i class="fa fa-retweet"></i>
      </button>
      <button class="btn btn-prev" (click)="prev()">
        <i class="fa fa-step-backward"></i>
      </button>
      <button class="btn btn-toggle-play" (click)="control_music()">
        <i class="{{ play_pause }}"></i>
      </button>
      <button class="btn btn-next" (click)="next()">
        <i class="fa fa-step-forward"></i>
      </button>
      <button
        class="btn btn-random"
        (click)="change_color2()"
        [ngStyle]="{ 'background-color': color_random }"
      >
        <i class="fa fa-random"></i>
      </button>
    </div>
  </div>
</div>
