<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
/>
<div class="main">
  <p id="logo"><i class="fa fa-music"></i>Music</p>

  <!--- left part --->
  <div class="left">
    <div class="top">
      <h1>
        <b>{{ name_music }}</b>
      </h1>
      <marquee>
        <p>
          <i> {{ name_singer }} </i>
        </p>
      </marquee>
    </div>
    <!--- middle part --->
    <div class="middle">
      <button
        (click)="change_color()"
        class="btn-redo"
        [ngStyle]="{ 'background-color': color_redo }"
      >
        <i class="fa fa-redo" aria-hidden="true"></i>
      </button>
      <button (click)="prev()" id="pre">
        <i class="fa fa-step-backward" aria-hidden="true"></i>
      </button>
      <button (click)="control_music()" id="play">
        <i class="{{ play_pause }}" aria-hidden="true"></i>
      </button>
      <button (click)="next()" id="next">
        <i class="fa fa-step-forward" aria-hidden="true"></i>
      </button>
      <button
        (click)="change_color2()"
        [ngStyle]="{ 'background-color': color_random }"
      >
        <i class="fa fa-random" aria-hidden="true"></i>
      </button>
    </div>

    <!--- song duration part --->
    <div class="progress-bar">
      <span>{{ currentTime }}</span>
      <div class="duration">
        <input
          type="range"
          min="0"
          max="{{ audioObj.duration }}"
          step="0.01"
          value="{{ seek }}"
          (input)="change_music($event)"
        />
      </div>
      <span>{{ duration }}</span>
    </div>

    <div class="volume">
      <p id="volume_show">{{ volumes }}</p>
      <i class="{{ mute }}" (click)="control_volume()" id="volume_icon"></i>
      <input
        type="range"
        min="0"
        max="1"
        value="{{ audioObj.volume }}"
        step="0.01"
        (input)="volume_change($event)"
      />
    </div>
  </div>

  <!--- right part --->
  <div class="right">
    <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Search Music"
      />
    </div>
    <!--- song img --->

    <h2 class="title">{{ _title }}</h2>
    <div class="list" id="style-2">
      <table *ngFor="let file of files | filter: searchText">
        <div class="item" (click)="openFile(file.url, file.id)">
          <span id="id_music" class="{{ hidden_item }}"
            ><b>{{ file.id }}</b></span
          >
          <span class="{{ hidden_item }}">{{ file.name }}</span>
          <span id="name_singer" class="{{ hidden_item }}"
            >({{ file.singer }})</span
          >
        </div>
      </table>
      <div class="item2">
        <p class="{{ visible_item }}">
          {{ lyric }}
        </p>
      </div>
      <a class="{{ visible_item }}" (click)="goBack()"><b>Back home</b></a>
    </div>
  </div>
</div>
